<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<div th:fragment="navbar(activeLink)">
    <nav class="navbar navbar-expand-lg bg-danger navbar-light fixed-top">
        <a class="navbar-brand" th:href="@{/}"><img alt="logo picture" src="/images/logo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <a class="nav-link"
                       th:href="@{/programs}"
                       th:text="#{navbar_programs}"
                       th:classappend="${activeLink == 'programs'}? 'active'">
                        Program
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/movies}"
                       th:text="#{navbar_movies}"
                       th:classappend="${activeLink == 'all movies'}? 'active'">
                        Movies
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/cinemas}"
                       th:text="#{navbar_cinemas}"
                       th:classappend="${activeLink == 'cinemas'}? 'active'">
                        Cinemas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
<!--                       th:href="@{/offers/all}"-->
<!--                        th:text="#{navbar_marathons}"-->
<!--                       th:classappend="${activeLink == 'all offers'}? 'active'">-->
                        Marathons
                    </a>
                </li>
                <li class="nav-item dropdown"
                    sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="#{navbar_admin}" th:classappend="${activeLink == 'admin'}? 'active'">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/movies/add}" th:text="#{admin_movie}">Add Movie</a>
                        <a class="dropdown-item" th:href="@{/cinemas/add}" th:text="#{admin_cinema}">Add Cinema</a>
                        <a class="dropdown-item" th:href="@{/marathons/add}" th:text="#{admin_marathon}">Add Marathon</a>
                        <a class="dropdown-item" th:href="@{/programs/add}" th:text="#{admin_program}">Add Program</a>
                        <a class="dropdown-item" th:href="@{/marathons/add}" th:text="#{admin_marathon}">Add Marathon</a>
                    </div>
                </li>
                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <div class="form-inline my-0 my-lg-0">
                        <form th:method="POST" th:action="@{/users/logout}">
                            <input class="btn bg-transparent" type="submit" th:value="#{navbar_logout}"/>
                        </form>
                    </div>
                </li>

                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link"
                       th:href="@{/users/register}"
                       th:text="#{navbar_register}"
                       th:classappend="${activeLink == 'register'}? 'active'">
                        Register
                    </a>
                </li>
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link"
                       th:href="@{/users/login}"
                       th:text="#{navbar_login}"
                       th:classappend="${activeLink == 'login'}? 'active'">
                        Login
                    </a>
                </li>

                <li class="nav-item">
                    <form class="nav-link dropdown" th:method="GET">
                        <label class="text-white" for="lang" th:text="#{navbar_lang}">Language</label>
<!--                        -->
                        <select class="bg-dark text-light text-center" id="lang" name="lang" onchange="this.form.submit()">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        </select>
                    </form>

                </li>

            </ul>
        </div>
    </nav>
</div>

</body>
</html>