<!DOCTYPE html>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Regal Cinemas</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{/fragments/navbar::navbar(activeLink=${'add marathon'})}"></div>

<div class="container">
    <h2 class="text-center text-white">Add Marathon</h2>
    <form   th:method="POST"
            th:action="@{/marathons/add}"
            th:object="${marathonData}"
            class="mx-auto col-md-8 d-flex flex-column justify-content-center w-75">

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="name" class="text-white font-weight-bold">Name</label>
                <input th:field="*{name}" id="name" name="name" type="text" class="form-control"
                       placeholder="Name"/>
                <p  class="invalid-feedback errors alert alert-danger">
                    Name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="location" class="text-white font-weight-bold">Location</label>
                <input th:field="*{location}" id="location" name="location" type="text" class="form-control"
                       placeholder="Location"/>
                <p  class="invalid-feedback errors alert alert-danger">
                    Location is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="price" class="text-white font-weight-bold">Price</label>
                <input th:field="*{price}" id="price" name="price" type="number"
                       class="form-control"
                       placeholder="Price"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Price is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="startDate" class="text-white font-weight-bold">Start Date</label>
                <input th:field="*{start}" id="startDate" type="datetime-local" class="form-control"
                       placeholder="Start date">
                <p class="invalid-feedback errors alert alert-danger">
                    Start date is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="endDate" class="text-white font-weight-bold">End Date</label>
                <input th:field="*{end}" id="endDate" type="datetime-local" class="form-control"
                       placeholder="End date">
                <p class="invalid-feedback errors alert alert-danger">
                    End date is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label th:for="movies" class="text-white font-weight-bold">Movie Titles</label>
            <textarea th:field="*{movies}" id="movies" name="movies" type="textarea" class="form-control" rows="3"
                      placeholder="Enter movie titles separated with a comma.
Example: Title 1, Title 2, Title 3...">

            </textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Movie titles are required.
            </p>
        </div>

        <div class="form-group">
            <label th:for="description" class="text-white font-weight-bold">Description</label>
            <textarea th:field="*{description}" id="description" name="description" type="textarea" class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
