<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<header th:replace="(~{/fragments/navbar::navbar(activeLink=${'all movies'})})"></header>

<body>

    <div class="container-fluid">
        <h2 class="text-center text-white mt-5">All Movies On Screen</h2>
        <div class="offers row mx-auto my-5 d-flex flex-row justify-content-center">
            <div th:each="movie: ${allMovies}"
                 th:object="${movie}"
                 class="movie card col-sm-2 col-md-1 col-lg-2 m-2 p-0">
                <div class="movie-card-img-top-wrapper">
                    <img class="card-img-top" th:src="${movie.imageUrl}" alt="Movie poster">
                </div>
                <div class="card-body text-center">
                    <a class="card-link" th:href="@{/movies/{id}(id = *{id})}"> <span th:text="${movie.title}"> Title </span></a>
                </div>
            </div>
        </div>
    </div>

    <div>
		<footer> </footer>
	</div>

</body>
</html>
