<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Programs</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{/fragments/navbar::navbar(activeLink=${'programs'})}"></div>

<div class="container-fluid">
    <div class="card-body text-center">
        <a th:each="program: ${allPrograms}" class="card-link"
           th:href="@{/programs/{cinemaId}/{date}(cinemaId = ${cinemaId}, date = ${program.date})}">
            <span th:text="${program.date.toString()}"> Some date </span>
        </a>
        <br>
        <a th:each="program: ${allPrograms}" class="card-link"
           th:href="@{/programs/{cinemaId}/{date}(cinemaId = ${cinemaId}, date = ${program.date})}">
            <span th:text="${program.date.getDayOfWeek().toString()}"> Some date </span>
        </a>
    </div>

    <div class="container-fluid">
        <div class="offers row mx-auto my-5 d-flex flex-row justify-content-center">
            <div th:each="movieInfo: ${programsInfoList}"
                 th:object="${movieInfo}"
                 class="movie card col-sm-2 col-md-1 col-lg-2 m-2 p-0">
                <div class="movie-card-img-top-wrapper">
                    <img class="card-img-top" th:src="*{imageUrl}" alt="Movie poster">
                </div>
                <div class="card-body text-center">
                    <a class="card-link" th:href="@{/movies/title={title}(title = *{title})}">
                        <span th:text="${movieInfo.title}">
                        Title
                        </span>
                    </a>
                </div>
                <ul class="offer-details list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="card-text my-md-3"><span> Ticket price: <span th:text="*{ticketPrice}"></span> </span></div>
                        <div class="card-text my-md-3"><span> Premiere: <span th:text="*{premiere}"></span> </span></div>
                        <div class="card-text my-md-3">
                            <span> Start hours: <span th:text="*{startHour}"></span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>