<!DOCTYPE html>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Regal Cinemas</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{/fragments/navbar::navbar(activeLink=${'add program'})}"></div>

<div class="container-fluid" sec:authorize="hasRole('ADMIN')">
    <h2 class="text-center text-white">Add Program</h2>
    <form   th:method="POST"
            th:action="@{/programs/add}"
            th:object="${programData}"
            class="mx-auto col-md-8 d-flex flex-column justify-content-center w-75">

        <div class="row">
            <div>
                <div th:field="*{cinemas}" class="form-group p-3">
                    <label class="p-2" for="cinemas">Cinemas:</label>
                    <input th:object="${cinemas}" th:each="cinema: ${cinemas}" class="m-3" type="checkbox"
                           name="cinemas" id="cinemas"
                           th:value="${cinema}" th:text="${cinema}">

                    <p th:each="error :${#fields.errors('cinemas')}"
                       th:text="${error}"
                       class="alert-danger">
                        Cinema is required.
                    </p>
                </div>
            </div>
        </div>

<!--                <div class="row">
            <div>
                <div th:field="*{cinemas}" class="form-group p-3">
                    <label class="p-2" for="cinemas">Cinemas:</label>
                    <input th:object="${cinemas}" th:each="cinema: ${cinemas}" class="m-3" type="checkbox"
                           name="cinemas" id="cinemas"
                           th:value="${cinema}" th:text="${cinema}">
                </div>
            </div>
        </div>-->

        <div class="form-group">
            <label th:for="moviesInfo" class="text-white font-weight-bold">Movies Info</label>
            <textarea th:field="*{moviesInfo}" th:errorclass="is-invalid" id="moviesInfo" name="moviesInfo" type="textarea" class="form-control" rows="4"
                      placeholder="Title / Ticket price / Start hours
Example:
Home Alone / 7.99 / 13:40, 15:00, 16:50, 18:00">

            </textarea>

            <p th:each="error :${#fields.errors('moviesInfo')}"
               th:text="${error}"
               class="invalid-feedback errors alert alert-danger">
                Movies info is required.
            </p>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="date" class="text-white font-weight-bold">Date</label>
                <input th:field="*{date}" th:errorclass="is-invalid" id="date" name="date" type="date" class="form-control"
                       placeholder="Date">

                <p th:each="error :${#fields.errors('date')}"
                   th:text="${error}"
                   class="invalid-feedback errors alert alert-danger">
                    Date is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
